Tabs {
    transition: none;
}

#io_buttons
{
    height: 10%;
}
#func_panel
{
    height: 40%;
}
#func_match
{
    height: 40%;
}

#num_chains
{
    width: 15%;
}
#num_cmds
{
    width: 25%;
}
#num_batches
{
    width: 20%;
}